<?xml version="1.0"?>
<model>
  <name>turtlebot3_waffle</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>ROBOTIS</name>
    <email>support@robotis.com</email>
  </author>
  <description>TurtleBot3 Waffle model for Ignition Gazebo Fortress</description>
</model>
